body{
    margin: 0;
    padding: 0;
    background-image: url(http://4.bp.blogspot.com/-SkCaQXul0TY/VKnedLcZosI/AAAAAAAAAK8/qy8GL9kxLII/s1600/orgullo%2Bpolit%C3%A9cnico.jpg);
    background-position: absolute;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;
    /*SOLID BACKGROUND*/
    /*background-color: #880e4f;*/
}

.form-style {
    margin: 0.7rem 0;
    padding: 1rem 1rem 20px;
    background-color: #f1e8e8;
    box-shadow: 0 12px 42px rgba(143, 58, 58, 0.9), 0 12px 12px rgba(143, 58, 58, 0.9);
    margin: 1.4rem 6rem;
    padding: 1rem 1rem 20px;
}

.form-style h1{
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;  

}

.form-style .botonsc {
    /*width: 15%;*/
    border-radius: 5px;
    background: #880e4f ;
    padding: 10px;
    border: none;
    padding: 10;
    color: white;
    margin: 16px 0;
    font-size: 14px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.form-style .botonsfin {
    border-radius: 5px;
    background: #880e4f ;
    padding: 10px;
    border: none;
    padding: 10;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.form-style .botonsfin:hover {
    box-shadow: 0 12px 42px rgba(101, 12, 12, 0.9), 0 12px 12px rgba(101, 12, 12, 0.9);

}

.formulario__validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}
  
.formulario__input-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}
.formulario__label {
	display: block;
	font-weight: 700;
	padding: 10px;
	cursor: pointer;
}
.formulario__input-error-activo {
	display: block;
}

/* ----- ----- Estilos para validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
	color :  #1ed12d ;
	opacity :  1 ;
}

.formulario__grupo-incorrecto .formulario__label {
	color :  #bb2929 ;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color:  #bb2929 ;
	opacity: 1 ;
}

.formulario__grupo-incorrecto .formulario__input {
	border : 3px sólido #bb2929 ;
}